@model BanSach.Models.ViewModel.RoleManagementVM

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Phân quyền Người Dùng</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input asp-for="ApplicationUser.Id" hidden />

            <div class="border p-3 mt-4">
                <!-- Hiển thị tên người dùng -->
                <div class="form-floating py-2 col-12">
                    <input asp-for="ApplicationUser.Name" readonly class="form-control border-0 shadow" />
                    <label asp-for="ApplicationUser.Name" class="ms-2">Tên người dùng</label>
                </div>

                <!-- Dropdown chọn Quyền (Role) -->
                <div class="form-floating py-2 col-12">
                    <select asp-for="ApplicationUser.Role" asp-items="@Model.RoleList" class="form-select border-0 shadow" id="roleSelect">
                    </select>
                    <label asp-for="ApplicationUser.Role" class="ms-2">Quyền (Role)</label>
                </div>

                <!-- Dropdown chọn Công ty (Company) -->
                <div class="form-floating py-2 col-12" id="companySelectDiv">
                    <select asp-for="ApplicationUser.CompanyId" asp-items="@Model.CompanyList" class="form-select border-0 shadow">
                    </select>
                    <label asp-for="ApplicationUser.CompanyId" class="ms-2">Chọn Công ty</label>
                </div>

                <div class="row pt-2 mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Lưu</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-action="Index" class="btn btn-outline-primary border form-control">Quay lại</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            // Hàm xử lý việc hiển thị dropdown Company
            $('#roleSelect').change(function () {
                var selection = $('#roleSelect Option:Selected').text();
                // Nếu chọn role là Company thì hiện Div chọn công ty lên
                if (selection === 'Company') {
                    $('#companySelectDiv').show();
                }
                else {
                    $('#companySelectDiv').hide(); // Ngược lại thì giấu đi
                }
            });

            // Kích hoạt sự kiện ngay khi load trang để kiểm tra trạng thái role ban đầu của user
            $('#roleSelect').trigger('change');
        });
    </script>
}